NET DATA(5) LOC = "p124";
NET DATA(4) LOC = "p39";
NET DATA(0) LOC = "p94";
NET EN_SEGMENT LOC = "p130";
NET TXD LOC = "p10";
NET CLK50 LOC = "p38";
NET DISPLAY(6) LOC = "p56";
NET DISPLAY(5) LOC = "p53";
NET DISPLAY(4) LOC = "p60";
NET DISPLAY(3) LOC = "p58";
NET DISPLAY(2) LOC = "p57";
NET DISPLAY(1) LOC = "p54";
NET DISPLAY(0) LOC = "p61";
NET led LOC = "p69";

NET LOAD LOC = "p143";